@import 'base/variables';
@import 'base/mixins';


* {
	font-family: 'MuseoModerno', sans-serif;
}

.container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
}

@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/benefits';
@import 'blocks/consultation';
@import 'blocks/buttons';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';

@import 'base/media';