.button {
	display: block;
	width: 153px;
	height: 32px;
	background-color: $main-color;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 12px;
	padding: 0px;
	border: 0;
	text-decoration: none;
	text-transform: uppercase;
	&_main {
		width: 303px;
		height: 54px;
		font-size: 16px;
	}
	&_submit {
		width: 303px;
		height: 54px;
		background: #C70101;
		font-weight: 500;
		font-size: 16px;
		color: #FFFFFF;
		text-transform: uppercase;
		padding-left: 0px;
		margin-top: 17px;
		margin-bottom: 0px;

	}
}
@media (max-width: 992px){
	.button_main{
		width: 260px;
		height: 40px;
		font-size: 14px;
	}
}

@media (max-width: 767px){
	.button_main{
		width: 235px;
	}
}
@media (max-width: 575px){
	.button{
		font-size: 10px;
		width: 135px;
		height: 29px;
		
	}
}