.carousel{
	padding: 81px 0;
	max-height: 742px;
	&__slide{
		img{
			width: 100%;
		}
	}
	&__inner{
		width: 750px;
		margin: 0 auto;
		.slick-list {
			align-items: center;
		}
	}
	.prev, .next{
		position: absolute;
		top: 50%;
		left: -33px;
		transform: translateY(-50%);
		border: 0px;
		padding: 0;
		img {
			width: 31px;
			height: 50px;
			background-color: #fff;
		}
	}
	.next {
		right: -35px;
		left: auto;
	}
	.tns-controls {
		display: none;
	}
	.tns-outer{
		position: relative;
	}
	.tns-nav {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0%;
	}
	.tns-inner{
		overflow: hidden;
	}
}